{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{%block titulo%}Crear un Servicio Tecnico{%endblock titulo%}
{% block section %}Crear Servicio Tecnico{% endblock section %}

{% block content%}
<input type="hidden" name="titulo" class="titulo_reporte" id="titulo" value="Listado de Servicios">
<input type="hidden" name="empresa" class="empresa_reporte" id="empresa" value="{{reporte.empresa}}">
<input type="hidden" name="direccion" class="direccion_reporte" id="direccion" value="{{reporte.direccion}}">
<input type="hidden" name="telefono" class="telefono_reporte" id="telefono" value="{{reporte.telefono}}">
<input type="hidden" name="usuario" class="usuario_reporte" id="usuario" value="{{user.username}}">

<div class="card shadow text-primary">
  <div class="card-header py-4 bg-dark">
    <h4 class="m-0 font-weight-bold text-white ">Servicios Tecnicos</h4>
  </div>
  <div class="card text-primary bg-ligth">
    <div class="col-12">
      <!-- Form -->
      <form method="POST">
        {%csrf_token%}
        <div class="row text-dark">

          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Cliente: <button type="button"
                class="btn btn-primary btn-sm btn-circle" class="fas fa-plus-circle fa-md"
                onclick="location.href='/Personas/crear_cliente'"><i class="fas fa-plus"></i></button></p>
            {{equipo_form.cliente}}
          </div>

          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;;">Equipo: <button type="button"
                class="btn btn-primary btn-sm btn-circle" class="fas fa-plus-circle fa-md"
                onclick="abrir_modal_creacion('{% url 'Servicios:crear_equipo_modal' %}')"><i class="fas fa-plus"></i>
              </button></p>
            <select id="comboEquipo" name='equipo' class="form-control">

            </select>
            <!-- Ver como hacer para cargar solo los equipos de ese cliente-->
          </div>

          <div class="col-4">
            <p style="margin-top: 0%; margin-bottom: 0px;font-size: 3vh; font-size: 3vh;">Fecha de Ingreso</p>
            {{servicio_form.fechaIngreso}}
          </div>

        </div>


        <div class="row text-dark">
          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Estado:</p>
            {{servicio_form.estado}}
          </div>

          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Tipo de Equipo: </p>
            <input class="form-control" type="text" id="idTipoEquipo" disabled>
            
          </div>

          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Contraseña:</p>
            {{servicio_form.contraseña}}
          </div>

        </div>

        <div class="row text-dark">
          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Marca: <button type="button"
                class="btn btn-primary btn-sm btn-circle"
                onclick="abrir_modal_creacion('{% url 'Servicios:crear_marca_modal' %}')"><i
                  class="fas fa-plus"></i></button></p>
              <input class="form-control" type="text" id="idMarca" disabled>
              
          </div>

          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Modelo:</p>
            <!--<form name="modelo" id="modelo">
              <input type="text" name="textModelo" id="textModelo">
            </form>-->
            <input class="form-control" type="text" id="idModelo" disabled>
            
          </div>
          <div class="col-4" style="margin-left: 0px; font-size: 3vh; font-size: 3vh;">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Ubicacion:</p>
            {{servicio_form.ubicacion}}
          </div>
        </div>

        <div class="row text-dark">
          <div class="col-8">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Accesorio : <button type="button"
                class="btn btn-primary btn-sm btn-circle" class="fas fa-plus-circle fa-md"
                onclick="location.href='/Servicios/crear_accesorio'"><i class="fas fa-plus"></i></button></p>
            {{servicio_form.accesorio}}
          </div>
          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Prioridad: </button></p>
            {{servicio_form.prioridad}}
          </div>
        </div>


        <div class="row text-dark">
          <div class="col-12">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Descripcion del Problema:</p>
            {{servicio_form.problema}}
          </div>
        </div>


        <hr>
        <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
          <i class="fa fa-plus"></i> Crear
        </button>

        <button type="button" class="btn btn-secondary" onclick="window.history.back()"
          style="float: right;margin: 1%;">
          <i class="fa fa-reply"></i> Volver
        </button>

      </form>
      <!--end Form -->
    </div>
  </div>


</div>


<hr>



<!-- List -->
{% if servicios%}
<div class="card shadow text-primary">
  <div class="card-header py-4 bg-dark">
    <h4 class="m-0 font-weight-bold text-white">Listado de Servicios Tecnicos</h4>
  </div>
  <div class="card-body text-dark">
    <div class="table-responsive">
      <table class="table table-bordered dataTable text-dark" id="midatatable">
        <thead>
          <tr>
            <th>equipo</th>
            <th>N°</th>
            <th>Cliente</th>
            <th>estado</th>
            <th>fechaIngreso</th>
            <th>fechaEntrega</th>
            <th>ubicacion</th>
            <th>tipo de equipo</th>
            <th>marca</th>
            <th>modelo</th>
            <th class="noExport">acciones</th>
          </tr>
        </thead>
        <tbody>
          {%for servicio in servicios%}
          <tr>
            <td style="text-align: left;">{{servicio.equipo}}</td>
            <td style="text-align: left;">{{servicio.codServicio}}</td>
            <td style="text-align: left;">{{servicio.equipo.cliente}}</td>
            <td style="text-align: left;">{{servicio.estado}}</td>
            <td style="text-align: left;">{{servicio.fechaIngreso}}</td>
            <td style="text-align: left;">{{servicio.fechaEntrega}}</td>
            <td style="text-align: left;">{{servicio.ubicacion}}</td>
            <td style="text-align: left;">{{servicio.equipo.tipoEquipo}}</td>
            <td style="text-align: left;">{{servicio.equipo.marca}}</td>
            <td style="text-align: left;">{{servicio.equipo.modelo}}</td>
            <td width="2%" align="center">
              <div class="table-data-feature">
                <button type="button" class="btn btn-primary btn-sm"
                  onclick="location.href='/Servicios/editar_servicio/{{servicio.pk}}'">
                  <i class="fas fa-eye"></i>
                </button>

              </div>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

</div>
{% endif %}
<!-- end List -->

<div class="modal fade" id="creacion" role="dialog">

</div>

{% if actualizar == 1%}
  <script>
    console.log('{{varid}}');
    
    var num = '{{clie}}';
    var id = num;
  $.ajax({
    url: '/Servicios/mostrar_equipos',
    data: {
      'cliente': id
    },
    dataType: 'json',
    success: function (data) {
      var html = "";

      for (var i = 0; i < data.length; i++) {
        html += "<option value='" + data[i].id + "'>" + "Codigo de equipo: " + data[i].id + " - " + "Modelo: " + data[i].modelo + "</option>";
      }
      $('#comboEquipo').html(html);
      
      var id = $("#comboEquipo").val();
      console.log(id);
      $.ajax({
        url: '/Servicios/mostrar_marca',
        data: {
          'equipo': id
        },
        dataType: 'json',
        success: function (data) {
          var html = "";
          html += "<option value='" + data.id + "'>" + data.nombre + "</option>";
          //$('#comboMarca').html(html);
          console.log(data.id);
          console.log(data.modelo);
          console.log(data.marca);
          console.log(data.tipoEquipo);
          console.log('aca toy');

          $('#idTipoEquipo').val(data.tipoEquipo);
          $('#idModelo').val(data.modelo);
          $('#idMarca').val(data.marca);

        }
      })

    }
  });


  </script>
{% endif %}

{% endblock content%}

{% block extrajs %}


<script src=" {% static 'js/servicios/index.js' %} "></script>

<script type="text/javascript">
  function abrir_modal_creacion(url) {
    $('#creacion').load(url, function () {
      $(this).modal('show');
    });
  }
</script>
<script type="application/javascript">
  $('BotonActualizar').on('click', function () {
    $.ajax({
      url: '% url 'Servicios: listar_servicio' %',
      type: 'POST',
      data: { pk = 1 },
      dataType: 'json'
    }).done(function (data) {

    }).fail(function (jqXHR, textStatus, errorThorown) {
      alert(textStatus + ': ' + errorThorown);
    }).always(function (data) {

    })
  })
</script>
{% endblock extrajs %}