{% extends 'index.html' %}

<!DOCTYPE html>

{%block titulo%}Estado Repuesto{%endblock titulo%}
{% block section %}Crear un Estado de Repuesto{% endblock section %}

{% block content%}

<div class="card col-6 mb-4 py-3 border-left-success">
    
      <!-- Form -->
    <form method="POST">
      {%csrf_token%}
      <div class="row">
        <div class="col-4">
          <p style="margin-bottom: 0px;">Estado de Repuesto</p>
          {{estado_repuesto_form.nombre}}
        </div>
    </div>


      <hr>
      <div>
      <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
        <i class="fa fa-plus"></i> Crear
      </button>

      <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
        <i class="fa fa-reply"></i> Volver
      </button>
    </div>
    </form>
    <!--end Form -->

    <!-- List -->
{% if estadoRepuesto%}
<div class="card shadow">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-secondary">Listado de tipos de estados de equipo</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered dataTable" id="dataTable">
        <thead>
          <tr>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {%for estadoR in estadoRepuesto%}
          <!-- aca si uso tipoEquipo me muestra el listado sin nada.... si pongo tipo_Equipo explota-->
          <tr>
            <td style="text-align: left;">{{estadoR}}</td>
            <td width="10%" align="center">
              <div class="table-data-feature">
                <button type="button" class="btn btn-info" onclick="location.href=''">Ver mas</button>
              </div>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endif %}
<!-- end List -->


</div>


{% endblock content%}