{% extends 'index.html' %}

<!DOCTYPE html>

{%block titulo%}Crear un Servicio Tecnico{%endblock titulo%}
{% block section %}Crear Servicio Tecnico{% endblock section %}

{% block content%}
<!-- List -->
{% if servicios%}
<div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-secondary">Listado de Servicios Tecnicos</h6>
        </div>
        <div class="card-body">
           <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable">
                <thead>
                  <tr>
                    <th>codServicio</th>
                    <th>fechaIngreso</th>
                    <th>estado</th>
                    <th>tipoEquipo</th>
                    <th>marca</th>
                    <th>modelo</th>
                    <!--<th>problema</th> -->
                    <!--<th>contraseña</th>-->
                    <!--<th>cargador</th>-->
                    <th>fechaEntrega</th>
                    <!--<th>presupuesto</th>-->
                    <!--<th>trabajosRealizados</th>-->
                    <th>ubicacion</th>
                    <th>cliente</th>
                  </tr>
                </thead>
                <tbody>
                {%for servicio in servicios%}
                  <tr>
                    <td style="text-align: left;">{{servicio.codServicio}}</td>
                    <td style="text-align: left;">{{servicio.fechaIngreso}}</td>
                    <td style="text-align: left;">{{servicio.estado}}</td>
                    <td style="text-align: left;">{{servicio.tipoEquipo}}</td>
                    <td style="text-align: left;">{{servicio.marca}}</td>
                    <td style="text-align: left;">{{servicio.modelo}}</td>
                    <!--<td style="text-align: left;">{{servicio.problema}}</td>-->
                    <!-- <td style="text-align: left;">{{servicio.contraseña}}</td>-->
                    <!--<td style="text-align: left;">{{servicio.cargador}}</td>-->
                    <td style="text-align: left;">{{servicio.fechaEntrega}}</td>
                    <!--<td style="text-align: left;">{{servicio.presupuesto}}</td>-->
                    <!--<td style="text-align: left;">{{servicio.trabajosRealizados}}</td>-->
                    <td style="text-align: left;">{{servicio.ubicacion}}</td>
                    <td style="text-align: left;">{{servicio.cliente}}</td>
                    <td width="10%" align="center">
                          <div class="table-data-feature">
                            <!--<button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'Servicios:editar_servicio' servicio.codServicio %}'">
                              <i class="fas fa-paint-brush"></i>
                            </button>-->
                            
                            <!-- Modal Eliminar 
                            <button type="button" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                            </button>-->

                          </div>
                      </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
          </div>
    </div>
    
</div>
{% endif %}
<!-- end List -->



<div class="card col-6 mb-4 py-3 border-left-success">
    <div class="col-24">
      <!-- Form -->
      <form method="POST">
        {%csrf_token%}
        {{servicio_form.as_p}}
  
        <hr>
        <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
          <i class="fa fa-plus"></i> Crear
        </button>
  
        <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
          <i class="fa fa-reply"></i> Volver
        </button>
  
      </form>
      <!--end Form -->
    </div>
  </div>



{% endblock content%}


