{% extends 'index.html' %}

<!DOCTYPE html>

{%block titulo%}Crear un Tipo de Equipo{%endblock titulo%}
{% block section %}Crear Tipo Equipo{% endblock section %}

{% block content%}

<div class="card col-6 mb-4 py-3 border-left-success">
    
      <!-- Form -->
    <form method="POST">
      {%csrf_token%}
      <div class="row">
        <div class="col-4">
          <p style="margin-bottom: 0px;">Tipo de Equipo</p>
          {{tipoEquipo_form.nombre}}
        </div>
    </div>


      <hr>
      <div>
      <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
        <i class="fa fa-plus"></i> Crear
      </button>

      <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
        <i class="fa fa-reply"></i> Volver
      </button>
    </div>
    </form>
    <!--end Form -->

</div>

{% endblock content%}