{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}Gestionar Servicios{% endblock titulo%}

{% block section %}Editar Servicio{% endblock section %}

{% block content%}

<div class="card col-6 mb-4 py-3 border-left-warning">
  <div class="col-12">
    <!-- Form -->
    <form method="POST">
      {%csrf_token%}
      <div class="row">
        <div class="col-3">    
          <p style="margin-bottom: 0px;">Cliente: </p>
          <input class="form-control" type="text" id="txtCliente" disabled>
        </div>

        <div class="col-3">
          <p style="margin-bottom: 0px;">Equipo: </p>
          
          <input class="form-control" type="text" id="txtEquipo" disabled>
        </div>
        
        <div class="col-3">
          <p style="margin-bottom: 0px;">Fecha de Ingreso</p>
          <input class="form-control" type="text" id="txtFechaIngreso" disabled>
        </div>

        <div class="col-3">
          <p style="margin-bottom: 0px;">Fecha de Entrega</p>
          <input class="form-control" type="text" id="txtFechaIngreso" disabled>
        </div>

    </div>
    

    <div class="row">
      <div class="col-3">
        <p style="margin-bottom: 0px;">Estado:</p>
        {{servicio_form.estado}}
      </div>
      
      <div class="col-3">
        <p style="margin-bottom: 0px;">Tipo de Equipo:</p>
        <input class="form-control" type="text" id="txtTipoEquipo" disabled>
      </div>

      <div class="col-3">
        <p style="margin-bottom: 0px;">Contraseña:</p>
        {{servicio_form.contraseña}}
      </div>
      
      <div class="col-3" style="margin-left: 0px;">
        <p style="margin-bottom: 0px;">Ubicacion:</p>
        {{servicio_form.ubicacion}}
      </div>
  </div>
  
  <div class="row">
    <div class="col-3">
      <p style="margin-bottom: 0px;">Marca:</p>
      <input class="form-control" type="text" id="txtMarca" disabled>
    </div>
    
    <div class="col-3">
      <p style="margin-bottom: 0px;">Modelo:</p>
      <input class="form-control" type="text" id="txtModelo" disabled>
    </div>

</div>


<div class="row">
<div class="col-12">
  <p style="margin-bottom: 0px;">Descripcion del Problema:</p>
  {{servicio_form.problema}}
</div>
</div>

      <hr>
      <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
        <i class="fa fa-check"></i> Editar
      </button>

      <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
        <i class="fa fa-reply"></i> Volver
      </button>

    </form>
    <!--end Form -->
  </div>
</div>

<!-- Messages -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success'%}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "Se editó correctamente",
          type: "success",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
      {% if message.tags == 'warning' %}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "Ocurrió algo inesperado",
          type: "warning",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
      {% if message.tags == 'error' %}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "Ocurrió un error",
          type: "error",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
    {% endfor %}
{% endif %}

<!-- end Messages -->

{% if actualizar == 1%}
  <script>
    console.log('{{varid}}');
    
    var num = '{{clie}}';
    var id = num;
  $.ajax({
    url: '/Servicios/mostrar_equipos',
    data: {
      'cliente': id
    },
    dataType: 'json',
    success: function (data) {
      var html = "";

      for (var i = 0; i < data.length; i++) {
        html += "<option value='" + data[i].id + "'>" + "Codigo de equipo: " + data[i].id + " - " + "Modelo: " + data[i].modelo + "</option>";
      }
      $('#txtEquipo').html(html);
      var id = $("#comboEquipo").val();
      console.log(id);
      $.ajax({
        url: '/Servicios/mostrar_servicio',
        data: {
          'equipo': id
        },
        dataType: 'json',
        success: function (data) {
          var html = "";
          html += "<option value='" + data.id + "'>" + data.nombre + "</option>";
          //$('#comboMarca').html(html);
          console.log(data.id);
          console.log(data.modelo);
          console.log(data.marca);
          console.log(data.tipoEquipo);
          console.log('aca toy');

          $('#idTipoEquipo').val(data.tipoEquipo);
          $('#idModelo').val(data.modelo);
          $('#idMarca').val(data.marca);

        }
      })

    }
  });
  </script>
{% endif %}

{% endblock content%}