{% extends 'index.html' %}

<!DOCTYPE html>

{% block titulo%}Listar estado repuesto{% endblock titulo%}

{% block section %}Listar Estados de Repuestos{% endblock section %}

{% block content%}

<!-- List -->
{% if estadoRepuesto%}
<div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-secondary">Listado de Estados de Repuestos</h6>
        </div>
        <div class="card-body">
           <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable">
                <thead>
                  <tr>
                    <th>Estado de Repuesto</th>
                    
                  </tr>
                </thead>
                <tbody>
                {%for estadoR in estadoRepuesto%}
                  <tr>
                    <td style="text-align: left;">{{estadoR.nombre}}</td>
                    <td width="10%" align="center">
                          <div class="table-data-feature">
                            <button type="button" class="btn btn-info" onclick="location.href='/Servicios/editar_estado_repuesto/{{estadoR.pk}}'">Ver mas</button>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
  </div>

</div>
{% else %}
    <p>Aún no hay datos cargados</p>
{% endif %}
<!-- end List -->


{% endblock content%}