{% extends 'index.html' %}

<!DOCTYPE html>

{% block titulo%}Listar Movimientos{% endblock titulo%}

{% block section %}Listar Movimientos{% endblock section %}

{% block content%}

<!-- List -->
{% if movimientos%}
<div class="card shadow text-primary">
        <div class="card-header py-4 bg-info">
          <h4 class="m-0 font-weight-bold text-white">Listado de Movimientos</h4>
        </div>
        <div class="card-body text-dark">
           <div class="table-responsive">
            <table class="table table-bordered dataTable text-dark" id="dataTable">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Lugar de Almacenamiento</th>
                    <th>Tipo de Movimiento</th>
                    <th>Tipo de Comprobante</th>
                    <th>Numero de Comprobante</th>
                    <th>Fecha de Movimiento</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {%for movi in movimientos%}
                  <tr>
                    <td style="text-align: left;">{{movi.pk}}</td>
                    <td style="text-align: left;">{{movi.lugar}}</td>
                    <td style="text-align: left;">{{movi.tipoMovimiento}}</td>
                    <td style="text-align: left;">{{movi.tipoComprobante}}</td>
                    <td style="text-align: left;">{{movi.numeroComprobante}}</td>
                    <td style="text-align: left;">{{movi.fechaMovimiento}}</td>
                    <td style="text-align: left;">{{movi.total}}</td>
                    <td style="text-align: left;">{{movi.estado}}</td>
                    <td width="2%" align="center">
                          <div class="table-data-feature">
                            <button type="button" class="btn btn-info" onclick="location.href='/Servicios/editar_servicio/{{servicio.pk}}'">Ver mas</button>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
  </div>

</div>
{% endif %}
<!-- end List -->



{% endblock content%}