{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}Gestionar Ingreso{% endblock titulo%}

{% block section %}Registrar Ingreso{% endblock section %}

{% block content%}

<div class="card text-primary bg-ligth">
  <div class="col-12">
    <!-- Form -->
    <form method="POST">
      {%csrf_token%}
      <div class="row text-dark">
          
          <div class="col-4">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;;">Tipo de Comprobante:</p>
            {{movimiento_form.tipoComprobante}}            <!-- Ver como hacer para cargar solo los equipos de ese cliente-->
          </div>
          
          <div class="col-4">
            <p style="margin-bottom: 0px;font-size: 3vh; font-size: 3vh;">Número de Comprobante</p>
            {{movimiento_form.numeroComprobante}}
          </div>

          <div class="col-2">
            <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Fecha: </p>
            {{movimiento_form.fechaMovimiento}}
          </div>
          
          <div class="col-2">
            <p style="margin-bottom: 0px;font-size: 3vh; font-size: 3vh;"> Cotizacion del dolar $72.38</p>
          </div>
      </div>
      

      <div class="row text-dark">
        <div class="col-4">    
          <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Tipo de Movimiento: </p>
          {{movimiento_form.tipoMovimiento}}
        </div>

        <div class="col-4">
          <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Lugar de Almacenamiento:</p>
          {{movimiento_form.lugar}}
        </div>
        
        <div class="col-2">
          <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Tipo de Impuesto:</p>
          {{articulo_form.impuesto}}
        </div>

        <div class="col-2">
          <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">% Ganancia:</p>
          {{articulo_form.ganancia}}
        </div>
        
    </div>
    
    <div class="row text-dark">
      
      
      <div class="col-4">
        <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Articulo: <button type="button" class="fas fa-plus-circle fa-md" onclick="location.href='/Stock/crear_articulo'"></button></p>
        {{movimiento_form.articulo}}
      </div>
      <div class="col-2" style="margin-left: 0px; font-size: 3vh; font-size: 3vh;">
        <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Cantidad:</p>
        {{articulo_form.cantidad}}
      </div>
      <div class="col-2">
        <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Precio en USD: </p>
        {{articulo_form.precioCompra}}
      </div>
      <div class="col-2">
        <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Precio de Venta $:</p>
        {{articulo_form.precioVenta}}
      </div>
      <div class="col-2">
        <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Total:</p>
        {{movimiento_form.total}}
      </div>
  </div>
  
<div class="row text-dark">
  
  <div class="col-4">
    <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Observaciones: </p>
    {{movimiento_form.observaciones}}
  </div>
  
  <div class="col-4">
    <p style="margin-bottom: 0px; font-size: 3vh; font-size: 3vh;">Estado:</p>
    {{movimiento_form.estado}}
  </div>
</div>
      

  <hr>
  <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
    <i class="fa fa-plus"></i> Crear
  </button>

      <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
        <i class="fa fa-reply"></i> Volver
      </button>

    </form>
    <!--end Form -->
       
      
      <!-- Modal Eliminar -->
       <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{tipo_movimientos.pk}}">
        <i class="fas fa-trash"></i>
      </button>
      <div class="modal fade bs-example-modal-lg2{{tipo_movimientos.pk}}" id="myModal2{{tipo_movimientos.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel{{tipo_movimientos.pk}}">Confirmar Eliminacion</h4>
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                      <a>¿Está seguro de <strong>eliminar</strong> el tipo de movimiento?</a>
                  </div>
                  <div class="modal-footer">
                    <div class="alineado-derecha">
                      {{tipo_movimiento.pk}}
                      <a href=""> <!-- añadir aca la url -->
                        <button type="button" class="btn btn-danger" >Eliminar</button>
                      </a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Modal -->

    </form>
    <!--end Form -->
  </div>
</div>

<!-- Messages -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success'%}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "Se editó correctamente",
          type: "success",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
      {% if message.tags == 'warning' %}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "Precaucion, no puede eliminar esta marca ya que tiene equipos asociados",
          type: "warning",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
      {% if message.tags == 'error' %}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "Ocurrió un error",
          type: "error",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
    {% endfor %}
{% endif %}

<!-- end Messages -->


{% endblock content%}